h1 {
  color: blue;
}

body {
  background-color: #72efdd;
}
hr {
  color: red;
  size: 20px;
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 1px;
}
table,
th,
td {
  border: 1px solid;
}
h2 {
  color: deepskyblue;
}
h3 {
  color: rgb(127, 187, 255);
}
table {
  size: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#72efdd
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:#72efdd
}

.active {
  background-color: #04aa6d;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}